<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="Content-Script-Type" content="text/javascript" />
	<meta http-equiv="Content-Style-Type" content="text/css" />
	<title>跟踪宝</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
	<script type="text/javascript" src="${request.getContextPath()}/js/jquery-1.11.3.js"></script>
	<title></title>
	 <script>
    	var sys = sys || {};
    	sys.contextPath = "${request.getContextPath()}";
	</script>
</head>
<body>
	<div style="width:99%;height:99%">
	#parse($!contentView)
	</div>
</body>
</html>