<!DOCTYPE html>
<html lang="zh_CN">
  <head>
    <meta charset="utf-8">
    <title>57牛犇后台管理系统</title>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
	<!-- 配置浏览器不缓存 -->
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=8">
	<meta http-equiv="Expires" content="0">
	<meta http-equiv="Pragma" content="no-cache">
	<meta http-equiv="Cache-control" content="no-cache">
	<meta http-equiv="Cache" content="no-cache">
    <link rel="stylesheet" type="text/css" href="${request.getContextPath()}/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="${request.getContextPath()}/lib/bootstrap/css/bootstrap-bigicon.css">
    <link rel="stylesheet" type="text/css" href="${request.getContextPath()}/css/stylesheets/theme.css">
    <link rel="stylesheet" type="text/css" href="${request.getContextPath()}/lib/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="${request.getContextPath()}/lib/webuploader/webuploader.css">
    <link rel="stylesheet" type="text/css" href="${request.getContextPath()}/lib/bootstrap/css/bootstrap-datepicker.css">
    <link rel="stylesheet" type="text/css" href="${request.getContextPath()}/lib/bootstrap/css/bootstrap-datetimepicker.css">
    <link rel="stylesheet" type="text/css" href="${request.getContextPath()}/css/common.css">
    
    <script type="text/javascript" src="${request.getContextPath()}/lib/jquery-1.8.1.min.js"></script>
	<script type="text/javascript" src="${request.getContextPath()}/lib/bootstrap/js/bootstrap.js"></script>
	<script type="text/javascript" src="${request.getContextPath()}/lib/bootstrap/js/bootstrap-datepicker.js"></script>
	<script type="text/javascript" src="${request.getContextPath()}/lib/bootstrap/js/bootstrap-datetimepicker.js"></script>
	<script type="text/javascript" src="${request.getContextPath()}/lib/bootstrap/js/bootstrap-datetimepicker.zh-CN.js"></script>
	<script type="text/javascript" src="${request.getContextPath()}/lib/webuploader/webuploader.js"></script>
	<script type="text/javascript" src="${request.getContextPath()}/lib/jquery/ajaxfileupload.js"></script>
	<script type="text/javascript" src="${request.getContextPath()}/lib/jquery/jquery.validate.js"></script>
	<script type="text/javascript">window.CONTEXT_PATH='$!{request.getContextPath()}';</script>
	<script type="text/javascript" src="${request.getContextPath()}/lib/ueditor/ueditor.config.js"></script>
	<script type="text/javascript" src="${request.getContextPath()}/lib/pagination.js"></script>
	<script type="text/javascript" src="${request.getContextPath()}/js/message_cn.js"></script>
	<script type="text/javascript" src="${request.getContextPath()}/js/common.js"></script>
    <script>
		//公用获取项目空间的代码
    	var sys = sys || {};
    	sys.contextPath = "${request.getContextPath()}";
    	//调用保持session的定时器,必须在common.js加载完成之后调用
		keepSession(sys.contextPath+'/admin/main',1000*60*10);
	</script>
  </head>
  <body>
  <div class="container" style="width:100%;min-width:1300px;height:100%">
    <div class="navbar fixed-head">
        <div class="navbar-inner">
            <ul class="nav pull-right">
            	#foreach($menu in ${menus.topList})
                <li#if($menus.current.parentMenuId == $menu.menuId) class="active"#end><a href="${request.getContextPath()}/admin/menu?menuId=${menu.menuId}" class="hidden-phone visible-tablet visible-desktop" role="button">$menu.menuName</a></li>
				#end
                <li id="fat-menu" class="dropdown">
                    <a tabindex="-1" href="${request.getContextPath()}/admin/logout">退出</a>
                </li>
            </ul>
            <a class="brand" href="$!{request.contextPath}/"><span class="first">57牛犇</span></a> <span class="second">后台管理系统</span>
        </div>
    </div>
    <div class="sidebar-nav fixed-menu" style="height:100%">
        <span class="nav-header">&nbsp;<i class="icon-dashboard"></i>$!{menus.currentTop.menuName}</span>
        <ul id="dashboard-menu" class="nav nav-list in">
        	#foreach($menu in $menus.submenuList)
            <li#if($menus.current.menuId == $menu.menuId) class="active"#end><a href="${request.getContextPath()}/admin/menu?menuId=$!{menu.menuId}">$!{menu.menuName}</a></li>
            #end
        </ul>
    </div>
    <div class="content fixed-content" style="height:100%;">
        #parse($contentView)
        <div class="container-fluid" style="height:100%">
            <div class="row-fluid">
                <footer>
                    <hr>
                    <!-- Purchase a site license to remove this link from the footer: http://www.portnine.com/bootstrap-themes -->
                    <p class="pull-right"></p>
                    <p>&copy; 2015 <a href="#" title="57牛犇">57牛犇</a></p>
                </footer>
            </div>
        </div>
    </div>
   </div>
  </body>
</html>