<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    <link rel="stylesheet" href="${request.getContextPath()}/css/common.css"/>
    <link rel="stylesheet" href="${request.getContextPath()}/css/register.css"/>
    <link rel="stylesheet" href="${request.getContextPath()}/css/weui.min.css" />
     <script type="text/javascript" src="${request.getContextPath()}/js/login.js"></script>
        <script type="text/javascript" src="${request.getContextPath()}/js/jquery-1.11.3.js"></script>
    <script src="${request.getContextPath()}/js/jquery-weui.js"></script>
    <title>重置密码</title>
</head>
<script>
	var sys = sys || {};
	sys.contextPath = "${request.getContextPath()}";
	sys.basePath = "${request.getScheme()}://${request.getServerName()}:${request.getServerPort()}"+sys.contextPath+"/";

    $(document).ready(function () {
       
    });

</script>
<body>
       <div class="register">
        <div class="regTop">
            <span class="title_name">修改密码</span>
            <a class="back" href="login">&lt;&nbsp;登录</a>
        </div>
        <div class="content content_forget_password">
            <div class="point">
            </div>
	        <form id="form_editPwd" action="">
                <div class="message message_f">
                    <div class="passWord">
		                <input type="password" name="firstPwd" placeholder="请输入密码" pattern="[0-9A-Za-z]{6,25}" maxLength="25" placeholder="123456" required/>
		            </div>
                    <div class="line_margin"></div>
                    <div class="passWord">
		                <input type="password"  name="secondPwd" placeholder="请再次输入密码" pattern="[0-9A-Za-z]{6,25}" maxLength="25" placeholder="123456" required/>
		            </div>
                </div>
               <button class="edit_btn" onclick="editPwd();return false;" style="letter-spacing:1em;text-align:center;">确认</button>
	        </form>
        </div>
        </div>
        </div>
        
</body>
</html>